parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Model\MyAuthenticator
	- App\Model\TerminManager # Vlastní služba dále přístupná pomocí DI.
	- App\Model\StrankaManager # Vlastní služba dále přístupná pomocí DI.
	- App\Model\UserManager # Vlastní služba dále přístupná pomocí DI.
	- App\Model\PostManager # Vlastní služba dále přístupná pomocí DI.
	- App\Model\MestoManager

database:
	dsn: 'mysql:host=wm54.wedos.net;dbname=d68205_new'
	user: a68205_new
	password: TTPWjAd8

mail:
	smtp: true  # use SmtpMailer instead of SendmailMailer
	host: smtp-68205.m5.wedos.net
	port: 587
	username: info@vecerychval.cz
	password: Hesl0Pr0Inf0!
	secure: tls # possible values are ssl, tls or null
