@import url('../bootstrap/css/bootstrap.min.css');
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #004A75;
    --main-gray: #23282d;
    --bright-gray: #32373c;
    --link: #b8daff;
    --third-color: #ffc107;
    --main-blue2: #17A2B8;
    --bored-radius: 5px 5px 5px 5px;
}

/* Base reset */
* {
    margin: 0;
    padding: 0;
}

h2{
   /* margin-bottom: 0.5em !important; */
}

p {
    font-size: 1.1em;
}

body {
    font-family: 'Raleway', sans-serif;
    background: url("../img/mainbg.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
   /* overflow: hidden; */
}

#logo{
    display: inline-block;
    height: 4em;
    margin: 0em;
    padding: 0em;

}
.navbar-nav{
  /*  background-color: var(--third-color); */
    /*  border-radius: 0px 10px;*/
    background-color: var(--main-blue2);
    border-radius: var(--bored-radius);
 }

 ul.nav li a, ul.nav li a:visited {
   /*  color: var(--main-white) !important; */
    font-size: 1.4em;
    margin: 5px 5px 5px 5px;   /* margin-left: 0.1em; */
    border-radius: var(--bored-radius);
}

ul.nav li a:hover, ul.nav li a:active {
   /* background-color: rgba(255,183,7,0.8); /* Black w/opacity/see-through */
   /* background-color: rgba(0,0,0,0.4); /* Black w/opacity/see-through */
    background-color: var(--third-color);
}

ul.nav li.active a {
    background-color: var(--third-color) !important;
}

#banner{
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    padding: 0px 15px 0px 0px;
    border-radius: 6px;
}
#banner-column ul {
    list-style-type: none;
    padding-left: 0% !important;
    margin-bottom: 2px !important;
}

#banner-column li a:link {
    color: var(--link) !important;
    text-decoration: none;
}

/* visited link */
#banner-column li a:visited {
    color: var(--link) !important;
    padding-left: 0px;
}

/* mouse over link */
#banner-column li a:hover {
    color: var(--main-white) !important;
    text-decoration: none !important;
}


/* selected link */
#banner-column li a:active {
    color: var(--link) !important;
}


.bgPage a:link {
    color: var(--link) ;
    text-decoration: none;
}

/* visited link */
.bgPage a:visited {

}

/* mouse over link */
.bgPage a:hover {
    color: var(--main-white) !important;
    text-decoration: none !important;
}

/* selected link */
.bgPage a:active {
    color: var(--link) !important;
}



.carousel-inner {
     border-radius: 6px 0px 0px 6px;
   /*  background-color: rgba(0,0,0,0); */
    overflow: hidden;
}

#banner-column{
    padding-top: 1em;
}

#banner-column-title{
    font-size:1.5vw;
}

#banner-column ul {
    padding-left: 1.3em;
    margin-top: 1em;
}

#banner-column li {
    font-size: 1em;
}


#formLogin{
    background-color: var(--main-gray);
     margin: 3em auto;
     border-radius: 7px;
     max-width: 300px;
     padding: 30px 30px 20px 30px;
}

#formLogin label{
    color: var(--main-white);
}

.center{
    text-align: center;
}

#main-contend{
    color: var(--main-white);
}

#mestoStrana .card-header{
   /* background: rgba(0, 0, 0, 0.2) !important; */
}

#mestoStrana .car-body{

}

.bgPage{
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 1em;
}

.card-columns {
    column-count: 3;
}

.cardImage{
    height: 15rem;
}

.card-body li{
    margin-bottom: 0.3em;
}

.bgCard{
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 0px;
}

#mestoStrana h1{

}

#mestoStrana #termin{
    background-color: rgba(0,0,0, 0.4);
}

.feather-1{
    width: 0.8em;
    height: 0.8em;
}

#blogMenu ul{
    margin: 0px;
    padding: 0px;
}

#blogMenu li{
    padding-left: 15px;
}

#blogMenu li:hover{
    border-left: solid 1px white;
    padding-left: 14px;
}

iframe {
    max-width: 100% !important;
    border: 0px;
}

footer a:link, a:visited{
    color: white !important;
}





/* prtave mobily */
@media (max-width: 320px) {
    #banner-column li {
        font-size: 1em;
    }

    #banner-column ul {
        padding-left: 3em;
    }

    #banner-column-title{
        font-size: 120%;
        padding-left: 10px;
    }

    #banner {
        background-color: unset;
    }

    .cardImage{
        height: 10rem;
    }

    .carousel-inner {
        border-radius: 6px 6px 6px 6px;
    }

}




/* mobily */
@media (min-width: 321px) and (max-width: 424px) {
    /* Medium screen, non-retina */
    ul.nav li a, ul.nav li a:visited {
        font-size: 1.2em;
        padding-left: 3px;
    }

    ul.nav li a:hover, ul.nav li a:active {
        padding-left: 3px;
        font-size: 1.2em
    }
    #banner {
        background-color: unset;
    }

    #banner-column-title{
        font-size: 120%;
        padding-left: 10px;
    }

    #banner-column li {
        font-size: 1em;
    }

    #banner-column ul {
        padding-left: 3em;
    }

    .cardImage{
        height: 13rem;
    }

    .carousel-inner {
        border-radius: 6px 6px 6px 6px;
    }

}


@media only screen and (min-width: 425px) and (max-width: 537px) {
    ul.nav li a, ul.nav li a:visited {
        font-size: 1.2em;
        padding-left: 2.5px;
    }

    ul.nav li a:hover, ul.nav li a:active {
        padding-left: 2.5px;
        font-size: 1.2em
    }
    #banner {
        background-color: unset;
    }

    #banner-column-title{
        font-size: 120%;
        padding-left: 10px;
    }


    #banner-column li {
        font-size: 1em;
    }

    #banner-column ul {
        padding-left: 3em;
    }

}


@media /*tablety */
only screen and (min-width: 538px) and (max-width: 768px) {


    ul.nav li a, ul.nav li a:visited {
        padding-left: 3px;
        font-size: 1.2em;
    }

    ul.nav li a:hover, ul.nav li a:active {
        padding-left: 3px;
        font-size: 1.2em;
    }

    #banner-column-title{
        font-size: 100%;
    }

    #banner-column li {
        font-size:1.8vw;
    }
    .cardImage{
        height: 10rem;
    }

}
@media
only screen and (min-width: 769px) {

    #banner-column li {
        font-size:1.2em;
    }

    ul.nav li a, ul.nav li a:visited {
        font-size: 1.2em;
    }

    ul.nav li a:hover, ul.nav li a:active {
    }

    #banner-column-title{
        font-size: 150%;
    }

    .cardImage{
        height: 14rem;
    }
}

